hr {
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

span.err-error {
    text-transform: uppercase;
    font-size: 7rem;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #B4100B;
    letter-spacing: 25px;

}

span.err-status {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #CECECE;
    letter-spacing: 10px;
}

span.err-statuscode {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #626262;
    letter-spacing: 10px;
}
span.err-junk {
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #CECECE;
    letter-spacing: 10px;
}

span.err-boxed {
    border: 2px solid rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-family: 'Rajdhani';
    font-weight: 600;
    letter-spacing: 7px;
    padding: 0px 6px 0px 6px;
    margin: 0px 25px 0px 0px;
}
span.err-boxed.wht{
    color: #000;
    background-color:#CECECE;
}
span.err-boxed.red{
    border: 0px solid rgba(255, 255, 255, 0.1);
    color: #000;
    background-color:#B4100B;
    margin-left: -20px;
}
.err-container {
        /* margin:0; */
        width: 100%;
        display: block;
        padding:104px 0;
        text-align: center;
        height: 100%;
        background-color: #000;

      
}

p.err-link {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #c9b311d0;
    letter-spacing: 10px;
    text-decoration: none;

}

p.err-link:hover{
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #e9cf0ae5;
    letter-spacing: 10px;
    text-decoration: line-through;
}