.comment-btn{
    /* border-bottom: 1px solid; */
    width: 95%;
    background: transparent;
    border: 0px solid;
    border-bottom: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

